<section class="services-intro" @fadeSlide>
    <div class="container">
        <h2>Une expertise maritime à votre service</h2>
        <p>
            Notre département Maritime & Shipchandling vous accompagne avec une gamme complète de prestations pour vos
            navires et vos opérations portuaires.
            Grâce à notre équipe expérimentée et notre réseau de partenaires fiables, nous garantissons des services
            efficaces, sécurisés et adaptés à vos besoins.
        </p>
    </div>
</section>