.section {
    margin: 3rem 0;

    h2 {
        text-align: center;
        font-size: 2rem;
        color: #0077b6;
        margin-bottom: 2.5rem;
    }

    &__header {
        text-align: center;
        margin-bottom: 2rem;

        h2 {
            font-size: 2rem;
            text-align: center;
            font-size: 2rem;
            color: #0077b6;
            margin-bottom: 2.5rem;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        justify-content: center;

        &.reverse {
            flex-direction: row-reverse;
        }
    }

    &__left,
    &__right {
        flex: 1 1 45%;
        min-width: 300px;
        animation: fadeInUp 1s ease;
    }

    &__center {
        max-width: 1100px;
        margin: 1 auto;
        animation: fadeInUp 1s ease-out;
    }
}

@media (max-width: 768px) {
    .section__content {
        flex-direction: column !important;
    }

    .section__left,
    .section__right {
        width: 100%;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}